body{
background-color: #FFC49B ;
text-align: center;
}

/* .ff{
  background-color: #ADB6C4;
} */

.and {
    background-color: yellow;
  }
  
 .dd{
   background-color: aqua;
 }

 .warning {
  color: orange;
  font-weight: bold;
}

.green{
    color: green;
    font-weight: bold;
}

/* ul li::before {
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
} */